.navbar {
    background-color: var(--electric-indigo);
    width: 98%;
    height: 6vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    display: flex;
    gap: 20px;
}

.menu-button {
    color: white;
}

::ng-deep .custom-menu {
    background-color: var(--electric-indigo);
}

::ng-deep .mat-mdc-menu-content {
    background-color: var(--electric-indigo);
}

::ng-deep .mat-mdc-menu-item {
    color: white;
}

::ng-deep .mat-mdc-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mat-mdc-button:not(:disabled) {
    color: white;
}

.menu-button, .mat-mdc-menu-item {
    background-color: var(--aqua-pulse);
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    color: #ffffff;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    margin-right: 5px;
}

.menu-button:hover, .mat-mdc-menu-item:hover {
    background-color: var(--electric-indigo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-button:active, .mat-mdc-menu-item:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
