.navbar {
  background-color: var(--electric-indigo);
  width: 98%;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-buttons {
  display: flex;
  gap: 20px;
}

.menu-button {
  color: white;
}

::ng-deep .custom-menu {
  background-color: var(--electric-indigo);
}

::ng-deep .mat-mdc-menu-content {
  background-color: var(--electric-indigo);
}

::ng-deep .mat-mdc-menu-item {
  color: white;
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mat-mdc-button:not(:disabled) {
  color: white;
}
