.auth-container {
  min-height: 50vh;
  width: 420px;
  background: var(--electric-indigo);
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  margin: auto;
  padding: 20px;
}
