.sidebar {
  width: 250px;
  background-color: #1e293b;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nickname-input,
.room-input {
  width: 100%;
  padding: 8px;
  margin: 12px 0 18px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: black;
}
