.main-layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--deep-night);
}

.content {
  flex: 1;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

app-navbar {
  width: 100%;
  display: block;
}
