.register-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-title {
  margin: 5vh 0 3vh 0;
}

.login-text {
  margin-top: 1.5vh;
  font-size: 0.9rem;
  text-decoration: none;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

.register-input {
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 37vh;
  border-radius: 1rem;
  cursor: pointer;
  margin: 1vh 0;
}

.button-submit {
  background-color: #eee;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  width: 37vh;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 2vh;
}

p {
  margin-left: 5vh;
}
