:host {
  background-color: var(--electric-indigo);
  width: 90rem;
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
}

.chat-container {
  display: flex;
  min-height: 30rem;
  width: 100%;

}

.conversation-list {
  width: 10%;
  border-right: 1px solid #ccc;
  border-radius: 1rem 0 0 0;
  overflow-y: auto;
}

.conversation-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conversation-list li {
  padding: 10px;
  cursor: pointer;
}

.conversation-list li.selected {
  background-color: #e0e0e0;
}

.chat-window {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-area {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.input-area input {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
}

.input-area button {
  padding: 5px 10px;
}
