.messages-container {
  height: 42em;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
}

.message-list {
  display: flex;
  flex-direction: column;
}

.empty-state {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}
