:root {
  --electric-indigo: #726EFF;
  --neon-mint: #5AFFE7;
  --aqua-pulse: #08C6AB;
  --midnight-slate: #37465B;
  --deep-night: #212B38;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background: var(--deep-night);
  min-height: 100vh;
  width: 100%;
}

app-root {

}
