:root {
  --electric-indigo: #0b00ff;
  /*#726EFF*/
  --electric-indigo-rgb: 114, 110, 255;
  --neon-mint: #5AFFE7;
  --aqua-pulse: #08C6AB;
  --aqua-pulse-rgb: 8, 198, 171;
  --midnight-slate: #37465B;
  --deep-night: #212B38;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Trebuchet MS", sans-serif;
}

body {
  background: var(--deep-night);
  min-height: 100vh;
  width: 100%;
}
